body, a{
  padding: 10px;
  text-decoration: none;
}

.header{
  background-color:#bc8f8f;
  padding: 20px;
  padding-bottom:60px;
  border-radius: 25px;
}

.container-form{
  text-align: center;
}

.heading{
  margin-top: 10px;
  font-size: 3rem;
  font-family: 'Courier New', Courier, monospace;
  color:white;
}

.nav a{

  font-size: 1rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight:bold;
  color:#efdecd;
  text-decoration-line: underline;
  transition: color 0.3 s;
}

.nav a:hover{
  color:white;
}

.intro{
  margin: 25px;
  padding: 20px;
  background-color:#efdecd;
  border-radius:25px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  flex-wrap: nowrap;
  gap: 20px;
}

.introd{
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.5rem;
  font-weight: bold;
  color:#bc8f8f;
  text-align: center;
}

.intro img{
  margin:40px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.intro p{
  margin-top:0px;
  margin-right:50px;
  width: 700px;
  font-size: 1.5rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#bc8f8f;
}

.heading-jr{
  margin:40px;
  text-align:center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.5rem;
  color:#bc8f8f;
  text-decoration-line:underline;
}

.about-me{
  margin: 40px;
  margin-left: 190px;
  margin-right: 190px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  flex-wrap: nowrap;
  gap: 20px;
}

.about-me img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.about-me p{
  margin:10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:1.4rem;
  color:#bc8f8f;
}

.the-end{
  margin-top: 80px;
  background-color: #efdecd;
  padding:40px;
  padding-top:20px;
  border-radius: 25px;

}

.the-end h2{
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.5rem;
  font-weight: bold;
  color:#bc8f8f;
  text-align: center;
  text-decoration: underline;
}

.the-end p{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:1.5rem;
  color:#bc8f8f;
}

.footer{
  background-color: #bc8f8f;
  margin-top:80px;
  padding:40px;
  padding-bottom:80px;
}

.footer a{
  font-size: 1rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#efdecd;
  text-decoration-line: underline;
  transition: color 0.3 s;
}

.footer a:hover{
  color:white;
}

.heading1{
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.5rem;
  font-weight: bold;
  color:#bc8f8f;
  text-align: center;
  text-decoration: underline;
}

.baby{
  display: flex;
  align-items: center;
  justify-content: space-between; 
  flex-wrap: nowrap;
  gap: 20px;
}

.baby h3{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#bc8f8f;
  padding: 10px;
  width:370px;
  background-color: #efdecd;
  border-radius:25px;
}

.baby p{
  width: 1000px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#bc8f8f;
}

.images{
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  flex-wrap: nowrap;
  gap: 20px;
}

.images img{
  border-radius:25px;
  width:280px;
}

.facts{
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  flex-wrap: nowrap;
}

.facts h3{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#bc8f8f;
  padding: 10px;
  background-color: #efdecd;
  border-radius:25px;
}

.facts p{
  width: 1150px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#bc8f8f;
}

.fun-image{
  display: flex;
  align-items: center;
  justify-content: space-between; 
  flex-wrap: nowrap;
}




